<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Left Arrow</string>
	<string>[D</string>
	<string>Right Arrow</string>
	<string>[C</string>
	<string>Up Arrow</string>
	<string>[A</string>
	<string>Down Arrow</string>
	<string>[B</string>
	<string>Escape</string>
	<string></string>
	<string>Backspace</string>
	<string></string>
	<string>Tab</string>
	<string>	</string>
	<string>Home</string>
	<string>[1~</string>
	<string>End</string>
	<string>[4~</string>
	<string>Insert</string>
	<string>[2~</string>
	<string>Delete</string>
	<string>[3~</string>
	<string>Page Up</string>
	<string>[5~</string>
	<string>Page Down</string>
	<string>[6~</string>
	<string>^C</string>
	<string></string>
	<string>Return</string>
	<string></string>
</array>
</plist>
